{% extends 'menu/base.html' %}
{% load static %}

{% block body %}
<style media="screen">

</style>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="container">
        <img src="{% static 'img/logo2.png'%}" class="box-image" alt="the bite logo">
      </div>
    </div>
    <div class="col-sm-4">
      <h4>Links</h4>
      <div class="list">
        <a href="#" class="list-group-item list-group-item-action">Menu</a>
        <a href="#" class="list-group-item list-group-item-action">About</a>
        <a href="#" class="list-group-item list-group-item-action">Contact</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Cart</a>
    </div>
    </div>
    <div class="col-sm-4">
      <div class="container mt-3">
          <h3 class="text-center">MEAL PICK UPS:</h3>
          <h4 class="text-center">SUNDAY 12-2PM</h4>
          <small><p class="text-center">All orders must be received by Thursday 8PM</p></small>

          <p class="text-center">58 Wright Road</p>
          <p class="text-center">Wethersfield, CT</p>
          <p class="text-center">860-982-5537</p>

      </div>
    </div>
  </div>
</div>

{% endblock %}
