{% extends 'product/base.html' %}
{% load crispy_forms_tags %}


{% block body %}

<div class="container" style="margin-top:100px;">
  <div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        <!-- Security token -->
        {% csrf_token %}
        <!-- Using the formset -->
        {{ form|crispy }}
        <input class="btn btn-primary bt-sm" type="submit" value="Submit">
        <a class="btn btn-secondary" href="{% url 'products:product-list' %}" type="button" name="button">Back</a>
    </form>
  </div>
</div>

{% endblock %}
