{% extends 'product/base.html' %}
{% load static %}

{% block body %}

<!-- <script type="text/javascript">
$(document).on('click','.delete-company',function(){
  var id = $(this).data('id');

  $.ajax({
      url:'/catalog/product-detail/',
      type:'POST',
      data:{
          'id':id,
          'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
      },
      success:function(data){
          $('#modalQuickView .modal-dialog').html($('#modalQuickView .modal-dialog',data));
          $('#modalQuickView').modal('show');
      },
      error:function(){
          console.log('error')
      },
  });
});
</script> -->

<style>

#about {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
.jumbo-img {

  width: 40%;
  height: 40%;
  margin: auto;
}
.box-image {
  height: 20rem;
  width: 20rem;
  margin-top: 100px;
}

</style>

<div class="container text-center">
  <img src="{% static 'img/logo7.png'%}" class="box-image" alt="the bite logo">

</div>

<div class="container text-white mt-3">
    <h2 class="text-center text-white">MEAL PICK UPS:</h2>
    <h4 class="text-center text-white">SUNDAY 12-2PM</h4>
    <small><p class="text-center">All orders must be received by Thursday 8PM</p></small>

    <p class="text-center">58 Wright Road</p>
    <p class="text-center">Wethersfield, CT</p>
    <p class="text-center">860-982-5537</p>

</div>

<h1 class="text-center text-white mb-5">This Week's Menu</h1>

<div class="container mb-5">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      {% for product in products %}

      <section class="page-section">
        <div class="container">
          <div class="product-item">
            <div class="product-item-title d-flex">
              <div class="bg-faded p-5 d-flex ml-auto rounded">
                <h2 class="section-heading mb-0">
                  <span class="section-heading-upper">{{product.name}}</span>
                  <span class="section-heading-lower">Coffees &amp; Teas</span>
                </h2>
              </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded mb-3 mb-lg-0" src="{{product.imageURL}}" alt="">
            <div class="product-item-description d-flex mr-auto">
              <div class="bg-faded p-5 rounded">
                <p class="mb-3">{{product.description}}</p>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>

        				<a class="btn btn-outline-success" href="{% url 'products:product_detail' product.id %}">View</a>
                <br>
                <h4 class="mt-3" style="display: inline-block; float: left"><strong>${{product.price|floatformat:2}}</strong></h4>
              </div>
            </div>
          </div>
        </div>
      </section>

      			<!-- <div class="box-element product mb-5">
              <img class="thumbnail" src="{{product.imageURL}}">
      				<h4><strong>{{product.name}}</strong></h4>
              <h6><strong>{{product.description}}</strong></h6>
      				<hr>

      				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>

      				<a class="btn btn-outline-success" href="{% url 'products:product_detail' product.id %}">View</a>
      				<h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>

      			</div> -->


      {% endfor %}
    </div>
    <div class="col-sm-3">

    </div>
  </div>
</div>

<!-- About Us -->
<section id="about" class="shadow pb-1 bg-dark text-white rounded">
  <div class="container">
    <h1 class="text-center text-white mt-5">WHOLE 30 MENU</h1>
    <br>
    <h3 class="text-center">PRICE PER MEAL $10.00 * Includes containers</h3>
    <br>
    <h5 class="text-center">FOOD ALLERGY ALERT:</h5>
    <h5 class="text-center">It is your responsibility to disclose any food allergies.</h5>
    <br>
    <h5 class="text-center">DISCLOSURE:</h5>
    <h5 class="text-center">Many fresh herbs and spices are used in meal preparations.</h5>
  </div>
</section>

<!-- Contact Page -->
<section id="contact" class="mt-5">
  <div class="container">
    <div class="row">
        <style>
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>

<div class="container bg-light">
  <div style="text-align:center">
    <h2 class="mt-5">Contact Us</h2>
    <p>Stop by to pick up your orders, or leave us a message:</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="https://www.google.com/maps/vt/data=kdjV6zS32kjKuaPCLVkyVt_5v3FdypZB1R8-oJXWhGE20sWLndgHLAWt9Sqg7Hf2bj5M9tFzN8YzEhhnJPpviieNgAhlKtNgTgGGS_jY99tfGYgsfNEvhYPME84YQRkT7SkUlDdsUWPWcGObRKeL4HqpxSGtotZKEtL6PRgLY_Sd4I1lCo5eJRnhHdDnCWWyLtlilQ0tOuUMVYuzKho5Z2JOeRUWwSmARE6WvV_WyWG9grkt6oLelwXVp0U86gCy" style="width:100%">
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>
      </div>

    </div>
  </div>
</section>

<!-- Footer -->
<section id="footer" class="shadow p-3 bg-white rounded">
  {% include 'product/footer.html' %}
</section>

{% endblock %}
